<include file="Public:_header" />
<h3>个人中心</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        绑定个人信息
    </div>
    <form action="__SELF__" method="post" class="panel-body">
        <div class="form-group">
            <textarea required class="form-control" name="comment" id="" placeholder="在这里写下您的建议、意见、举报、投诉或者想对纪委说的话" rows="10"></textarea>
        </div>
        <div class="col-sm-3">
            <input id="submit" class="btn btn-primary form-control" name="submit" value="提交" type="submit">
        </div>
    </form>
</div>
<include file="Public:_footer" />