<!--footer-->
<footer class="footer footer-fixed-bottom">
    <div class="well">
        <!--<h4>说明：</h4>-->
        <!--<p>2013级本科生课程评估工作现启动，采用网上评估的方式进行。凡本学院所有13级本科生，应于2016年12月27日前，登陆教学管理系统，完成评教，在登陆后的界面里可直接显示待评教的课程。</p>-->
        <h5>说明：</h5>
        <p>实名制留言</p>
    </div>
    <div class="footer">
        &copy;2018-纪委  <br />
    </div>
</footer>
<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.js"></script>
</body>
</html>