<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>在线考试系统</title>
    <link rel="stylesheet"  media="screen" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
</head>
<body class="container">

<nav class="container navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand logo" href="#">在线考试系统</a>
        <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="#" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cloud-upload"></span> 线上学习
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="__MODULE__/Exercise">在线练习</a></li>
                    <li><a href="__MODULE__/Exam">在线考试</a></li>
                </ul>
            </li>
            <li>
                <a href="#" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-retweet"></span> 在线互动
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="__MODULE__/OnLine/comment">我有话说</a></li>
                    <li><a href="__MODULE__/OnLine/index">通知通告</a></li>
                </ul>
            </li>
            <li>
                <a href="#" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user"></span> 个人中心
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="__MODULE__/User/collection">收藏夹</a></li>
                    <li><a href="__MODULE__/User/errorBook">错题本</a></li>
                    <li><a href="__MODULE__/Index">个人资料</a></li>
                </ul>
            </li>

        </ul>
    </div>
</nav>

<br><br><br>